@import "@/assets/font/inter/3.19/inter.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 flex justify-center bg-black p-0 text-white md:pt-[25vh];
}

h1 {
  @apply pb-2 text-2xl font-bold;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }
}
